{% extends 'productos/base.html' %}

{% load static %}

{% block contenido %}

{% load crispy_forms_tags %}

<body id="pag-crud">
    <div id="div-agregar-crud" class="container">
        <div class="col-sm-12 col-md-12">
            <h1 id="tit-agregar-crud">Agregar Producto</h1>
            <div class="container" id="formulario-crud" class="card mx-auto">
                <form action="" method="post" enctype="multipart/form-data"  id="carta">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="d-flex justify-content-end">
                        <input type="reset" value="Limpiar" class="btn btn-secondary">
                        &nbsp;
                        <input type="submit" value="guardar" class="btn btn-primary">
                    </div>
                    <br>
                    {{mensaje}}
                </form>
                
            </div>
        </div>
    </div>
</body>
{% endblock %}

