<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller⚡McQueen - Lo mejor en frenos, pastillas y Aceites</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'productos/css/stylex.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-..." rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Logo Empresa -->
    <link rel="icon" href="{% static 'productos/img/LogoEmpresa.png' %}">
</head>
<body>
    <!-- ESTE ES EL MENÚ -->
    <header>
        <div class="wrapper">
            <div class="logo">
                <img src="{% static 'productos/img/LogoEmpresa.png' %}" alt="">
            </div>
            
            <input style="display: none;" type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="menu-icon">&#9776;</label>
            
            <nav class="menu">
                <a href="{% url 'index' %}">Inicio</a>
                <a href="{% url 'nosotros' %}">Nosotros</a>
                <a href="{% url 'galeria' %}">Galeria</a>
                <a href="{% url 'contacto' %}">Contacto</a>
                <a href="{% url 'vehiculos' %}">Ventas</a>
                <a href="{% url 'register' %}">Registrarse</a>
            </nav>
        </div>
    </header>

    <div class="contenido">
        {% block contenido %}
        {% endblock %}
    </div>

    <!-- Pie de pagina -->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="">
                        <img src="{% static 'productos/img/LogoEmpresa.png' %}" alt="Empresa"> <!-- Aqui logo empresa -->
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>Talleres</h2>
                <p><i class="fa fa-map-marker fa-2x" style="color:red"></i> Américo Vespucio 2.600, Vitacura, Región Metropolitana</p>
                <br>
                <p><i class="fa fa-map-marker fa-2x" style="color:red"></i> Av. 5 de Abril 4534, 9180001 Santiago, Estación Central, Región Metropolitana</p>
                <br>
                <p><i class="fa fa-map-marker fa-2x" style="color:red"></i> Av. Francisco Bilbao 8750, Las Condes, Región Metropolitana</p>
            </div>
                <div class="box">
                <h2>Síguenos</h2>
                <div class="rs">
                    <!-- Iconos -->
                    <a href="#" style="text-decoration: none;">
                        <p><i class="fab fa-facebook" style="color: #4546F5;"></i> Facebook</p>
                    </a>
                    <a href="#" style="text-decoration: none;">
                        <p><i class="fab fa-twitter" style="color: #79BFF5"></i> Twitter</p>
                    </a>
                    <a href="#" style="text-decoration: none;">
                        <p><i class="fab fa-instagram"></i> Instagram</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>
                &copy; 2023 <b>Taller⚡McQueen</b> - Todos los Derechos Reservados.
            </small>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>