{% extends 'productos/base.html' %}

{% load static %}

{% block contenido %}

{% load crispy_forms_tags %}

<body id="pag-crud">
    <div class="container" id="div-agregar-crud">
        <div class="col-sm-12 col-md-12">
            <h1 id="tit-agregar-crud">Modificar Producto</h1>
            <div class="container" id="formulario-crud" class="card mx-auto">
                <form action="" method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="card mx-auto">
                        <div class="card-body" id="carta">
                            {{ form | crispy }}
                            <input type="reset" value="cancelar" class="btn btn-secondary">
                            &nbsp;
                            <input type="submit" value="modificar" class="btn btn-primary">
                        </div>
                    </div>
                </form>
                {{mensaje}}
            </div>
        </div>
    </div>
</body>
{% endblock %}