{% extends 'productos/base.html' %}

{% load static %}

{% block contenido %}

|<section class="content sau">
    <!-- titulo -->
        <div>
            <h2 class="tittleNosotros">NUESTRA EMPRESA</h2>
        </div>
    </section>

    <!-- Quienes somos -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 id="quienes">¿Quiénes somos?</h3>
                <P id="desc">Somos una empresa que ofrece una moderna plataforma que conecta a los dueños de vehículos que necesitan mantención, reparación o inspección automotriz, con los mejores y más calificados mecánicos del mercado.
                    Ofrecemos servicios que generan confianza, transparencia y conveniencia en nuestros clientes, mecánicos y colaboradores.</P>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 id="mision">MISIÓN</h3>
                <p id="mivi">Esperamos que nuestros clientes tengan una experiencia satisfactoria en cada uno de nuestros talleres, ofreciendo el mejor personal destacado en estas categorías en conjunto con nuestros modernos sistemas de chequeo rápido aseguramos la mayor eficacia en nuestros servicios.</p>
            </div>
            <div class="col-md-6">
                <h3 id="mision">VISIÓN</h3>
                <p id="mivi">Ser líderes en procesos de reparaciones mecánicas que entreguen el mayor valor a nuestros clientes, con un equipo humano que ofrezca un servicio de excelencia y permanente innovación en tecnologías, materiales y soluciones.</p>
            </div>
        </div>
    </div>

    <section class="content sau">
        <!-- titulo -->
            <div>
                <h2 class="tittleValores">NUESTROS VALORES</h2>
            </div>
        </section>

    <div id="fondo" class="container" >
        <div class="row">
            <div id="valores" class="col-md-3">
                <p id="val">ÉTICA Y HONESTIDAD</p>
            </div>
            <div id="valores" class="col-md-3">
                <p id="val">RESPETO HACIA LAS PERSONAS</p>
            </div>
            <div id="valores" class="col-md-3">
                <p id="val">ORIENTACIÓN Y COMPROMISO DE SERVICIO AL CLIENTE</p>
            </div>
            <div id="valores" class="col-md-3">
                <p id="val">TRABAJO EN EQUIPO</p>
            </div>
        </div>
    </div>
{% endblock %}