{% extends 'productos/base.html' %}

{% block contenido %}

<body id="pag-login">
  <div class="" id="div-login"> 
    <form action="" method="post" id="login">
      <h1 class="tit-login">Login</h1>
        {% csrf_token %}
        {% load crispy_forms_tags %}
        <div class="card mx-auto" style="width: 25rem; color: black;">
            <div class="card-body">
              <h5 class="card-title">Ingrese sus Credenciales</h5>
              {{ form | crispy }}
              <div class="d-grid gap-2">
                <button class="btn btn-sm btn-primary" id="btn-login" ><a href="{% url 'index' %}" class="card-link">Inicio</a></button>
                <button class="btn btn-sm btn-primary" id="btn-login" ><a href="{% url 'register'%}" class="card-link">Registrarse</a></button>
                
                <button class="btn btn-sm btn-primary float-end" id="btn-login" type="submit">Iniciar Sesion</button>
            </div>
            </div>
          </div>
          
    </form>
  </div>
</body>
{% endblock%}