{% extends 'productos/base.html' %}

{% block contenido %}

<body id="pag-registro">
  <div id="div-registro">
    <div class="">
      <form action="" method="post" id="form-registro">
        <h1 id="registro_usuario">Registro de usuario</h1>
        {% csrf_token %}
        {% load crispy_forms_tags %}
        
        <div class="card mx-auto">
          <div class="card-body">
            {{ form | crispy }}
            <button class="btn btn-sm btn-primary float-end" type="submit">Registrarse</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
{% endblock %}

